---
import "../styles/global.css";
import Footer from './../components/Footer.vue';
import Social from './../components/Social.svelte';
import HeaderTop from './../components/HeaderTop.tsx';
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="es">	
	<BaseHead title="Astro Tips" description="Tips and tricks for building with Astro" />
	<body>
		<HeaderTop client:load />
		<slot />
		<Footer>
			<Social />
		</Footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
